<div class="container my-3">
  <div class="row">
    
    <!--left bar-->
    <div class="col-md-3">
      <%= render 'books/leftbar', book: @book_n, user: @user %>
    </div>

    <!--Books-->
    <div class="col-md-8 offset-md-1">
      <div class="container">
        <h2>Users</h2>

        <table class="table">
          <thead class="w-100">
            <tr>
              <th>image</th>
              <th>name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
            <tr>
              <th><%= link_to(user_path(user.id)) do %>
                  <%= image_tag user.get_profile_image(75, 75) %>
                <% end %>
              </th>
              <th><%= user.name %></th>
              <th><%= link_to "Show", user_path(user) %></th>
            </tr>
            <% end %>
          </body>
        </table>

      </div>
    </div>
  </div>
</div>