<div class="container my-3">
  <div class="row">
    <!-- left bar -->
    <div class="col-4">
      <%= render 'leftbar', book: @book, user: @user %>
    </div>
    
    <!--Books-->
    <div class="col-8">
      <div class="container">
        <h2>Book detail</h2>
        
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= image_tag @book.user.get_profile_image(75, 75) %>
                <%=link_to @book.user.name, users_path %>
              </td>
              <td><%= link_to @book.title, books_path %></td>
              <td><%= @book.body %></td>
              
            <% if @book.user == current_user %>
              <td><%= link_to 'Edit', edit_book_path, class: "btn btn-success mb-2 w-100" %></td>
              <td><%= link_to 'Destroy', book_path(@book), method: :delete, class: "btn btn-danger mb-2 w-100" %></td>
            <% end %>
            </tr>
          </body>
        </table>
        
      </div>
    </div>
  </div>
</div>